body,h1,h2,h3,ul{margin: 0;}

.site-header{background-color:deepskyblue;}

.main-content{background-color: bisque; max-width:600px;

}

.site-footer{background-color: cadetblue;}

.hero-image{width: 100%; max-width: 300px; height: auto;}